name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Sjekk ut repository
      uses: actions/checkout@v2

    - name: Logg inn i Azure Container Registry via Docker
      run: |
        echo ${{ secrets.ACR_PASSWORD }} | docker login brightstraining24fall.azurecr.io -u ${{ secrets.ACR_USERNAME }} --password-stdin

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Bygg Docker Image
      run: |
        docker build -t carro/newimage:2.0 ./MusikkApi

        
